<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="css/bootstrap.min.css" rel="stylesheet">
    <!-- jQuery 라이브러리 로드 -->
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script>
        const add_file_box = () => {
            const box = document.getElementById("attachFileDiv");
            const newDiv = document.createElement('div');
            newDiv.innerHTML = "<input type='file' name='addFiles'>\n<button type='button' class='btn btn-outline-dark' onclick='delete_file_box(this)'>X</button>"
            box.appendChild(newDiv);
        }
        const delete_file_box = (obj) => {
            document.getElementById('attachFileDiv').removeChild(obj.parentNode);
        }

        function deleteComment(seq) {
            if (confirm('댓글을 삭제하시겠습니까?')) {
                $.ajax({
                    type: 'DELETE',
                    url: '/api/reply/' + seq,
                    success: function (data) {
                        // 성공적으로 삭제된 경우, 화면에서 댓글을 제거합니다.
                        alert('댓글 삭제에 성공했습니다.');
                        location.reload();
                    },
                    error: function (error) {
                        // 삭제 중 오류가 발생한 경우, 오류 메시지를 표시합니다.
                        alert('댓글 삭제 중 오류가 발생했습니다.');
                    }
                });
            }
        }

    </script>
    <style>
        .container-fluid {
            max-width: 1000px;
        }

        /*************** 베너 디자인 *************/
        .board-name-container {
            margin: 24px;
        }

        .reply-write-box {
            margin-bottom: 10px;
        }

        .reply-content-box {
            margin: 5px;
        }

        .reply-content {
            margin: 5px;
        }

        /************ 작성 폼 내부 디자인 ***********/
        textarea {
            height: 200px;
        }

        /* 첨부파일 */
        .file-box {
            margin: 5px;
        }

        .delete-btn {
            width: 57px;
            font-size: 15px;
        }

        /* 검증 에러 표현 */
        .field-error {
            border-color: #dc3545;
            color: #dc3545;

        }

    </style>
</head>
<body>

<div class="container-fluid">

    <div th:replace="~{fragment/header}"></div>

    <div class="row">

        <div class="col-md-3">
            <div th:replace="~{fragment/sidebar}"></div>
        </div>

        <div class="col-md-9">

            <div class="board-name-container">
                <h3>자유게시판 관리</h3>
            </div>

            <form action th:object="${freeBoardDTO}" th:action method="post" enctype="multipart/form-data">
                <table class="table">
                    <tbody>
                    <tr>
                        <th class="bg-gray">분류</th>
                        <td>
                            <select name="categoryId" th:field="*{categoryId}" th:errorclass="field-error"
                                    class="form-control">
                                <option value="hobby">취미</option>
                                <option value="humor">유머</option>
                                <option value="touching">감동</option>
                            </select>
                            <div class="field-error" th:errors="*{categoryId}"/>
                        </td>
                    </tr>
                    <tr>
                        <th class="bg-gray">제목</th>
                        <td><input type="text" name="subject" th:field="*{subject}" th:errorclass="field-error"
                                   class="form-control">
                            <div class="field-error" th:errors="*{subject}" th:errorclass="field-error"/>
                        </td>
                    </tr>
                    <tr>
                        <th class="bg-gray">내용</th>
                        <td><textarea name="content" th:field="*{content}" th:errorclass="field-error"
                                      class="content-form form-control"></textarea>
                            <div class="field-error" th:errors="*{content}"/>
                        </td>
                    </tr>
                    <tr>
                        <th class="bg-gray">첨부파일</th>
                        <td>
                            <div class="file-container" th:if="${fileList}">
                                <div class="file-box row" th:each="file : ${fileList}">
                                    <span class="col-md-1">📁</span>
                                    ︎
                                    <div class="attachment-box col-md-9" th:text="${file.originName}"></div>
                                    <button type="button" class="delete-btn btn btn-outline-dark col-md-1"
                                            th:text="삭제"></button>
                                </div>
                            </div>
                            <div id="attachFileDiv">
                                <input type="file" name="addFiles">
                            </div>
                            <input type="button" value="추가" onclick="add_file_box()">
                        </td>
                    </tr>
                    </tbody>
                </table>

                <div class="reply-container" th:if="${replyList}">
                    <div class="reply-write-box row">
                        <input type="text" class="col-md-10" placeholder="댓글을 입력해 주세요">
                        <div class="col-md-2">
                            <button type="button" class="btn btn-light" id="submitComment">등록</button>
                        </div>
                    </div>
                    <div class="reply-content-box row" th:each="reply : ${replyList}">
                        <div class="col-md-10">
                            <div class="reply-label">
                                <span th:if="${reply.memberId}" th:text="${reply.memberId}"></span>
                                <span th:unless="${reply.adminId}" th:text="${reply.adminId}"></span>
                                <span th:text="${#temporals.format(reply.date, 'yyyy-MM-dd HH:mm')}"></span>
                            </div>
                            <div class="reply-content">
                                <span th:text="${reply.content}"></span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <button type="button" class="btn btn-outline-dark"
                                    th:onclick="|deleteComment(${reply.seq})|">삭제
                            </button>
                        </div>
                    </div>
                </div>

                <input type="submit"
                       class="btn btn-primary pull-right"
                       th:if="${freeBoardDTO.seq == 0}"
                       th:onclick="|location.href='@{/admin/free}'|"
                       value="등록">
                <input type="submit"
                       class="btn btn-primary pull-right"
                       th:unless="${freeBoardDTO.seq == 0}"
                       th:onclick="|location.href='@{/admin/free/{seq}(seq=${freeBoardDTO.seq})}'|"
                       value="수정">

                <button
                        type="button"
                        class="btn btn-primary pull-right"
                        th:onclick="|location.href='@{/admin/frees}'|">목록
                </button>
                <button type="button"
                        th:if="${freeBoardDTO.seq != 0}"
                        th:onclick="|location.href='@{/admin/free/delete/{seq}(seq=${freeBoardDTO.seq})}'|"
                        class="btn btn-primary pull-right">삭제
                </button>
            </form>
        </div>
    </div>
</div>

</body>
</html>
