<!DOCTYPE HTML>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f8f9fa;
        }

        .error-container {
            max-width: 600px;
            margin: 20% auto;
            padding: 20px;
            text-align: center;
            background-color: #fff;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
            border-radius: 5px;
        }
    </style>
</head>
<body>
<div class="error-container">
    <h2>Error Page</h2>
    <p>예상치 못한 오류가 발생했습니다.</p>
    <a class="btn btn-primary" href="/admin/notices">홈으로 돌아가기</a>
</div> <!-- /container -->
</body>
</html>
