<!DOCTYPE html>
<head>
    <style>
        .nav-link {
            color: black;
        }

        .sidebar {
            width: 200px;
            background-color: #ffffff;
            color: white;
            position: sticky;
        }

        li {
            margin: 10px 0;
        }


    </style>
</head>
<body>
<div>
    <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block sidebar">
        <div class="position-sticky">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" href="/admin/notices">
                        공지사항 관리
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/frees/">
                        자유 게시판 관리
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/galleries">
                        갤러리 게시판 관리
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/qnas">
                        문의 게시판 관리
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>
</body>

</html>